# Compiled class file
*.class

# Log file
*.log

# BlueJ fileReports
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.js.map

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#idea fileReports
.idea/
*.iml

.tern-project
.tern-port
src/main/frontend/build
src/main/frontend/node_modules
target/
